asttokens
async-generator
attrs
backcall
beautifulsoup4
bs4
certifi
charset-normalizer
click
decorator
exceptiongroup
executing
Flask
h11
idna
ipython
itsdangerous
jedi
Jinja2
lxml
MarkupSafe
matplotlib-inline
mysql.connector
mysql-connector-python
numpy

requests
six
sniffio
sortedcontainers
soupsieve

urllib3
wcwidth
webdriver-manager
Werkzeug
wsproto
gunicorn
