<html lang="en"><head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Rooms - Chat, Audio and Video </title>

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static', filename='assets/css/bootstrap.min.css')}}">

<link rel="stylesheet" href="{{url_for('static', filename='assets/css/app.css')}}">
<script src="https://kit.fontawesome.com/c63faa1f51.js" crossorigin="anonymous"></script>
   <script src="https://use.fontawesome.com/4f05e2c5d5.js"></script>
</head>
<body class="account-page">
<div class="main-wrapper">

<div class="content align-items-center">
<div class="w-100 ">
<div class="login-left">

<div class="account-content">
<div class="login-header">
<a href="index.html">
<img src="assets/img/logo-full.png" alt="">
</a>
</div>
<div class="form-col">
<div class="login-text-details">
<h3>Forgot Password</h3>
<p>Confirm your email and enter the OTP to send to your Registered Email id.</p>
</div>
<div class="form-group">
<label>Your Email</label>
<input class="form-control form-control-lg group_formcontrol" name="email" type="email">
</div>
<div class="form-group">

</div>
<div class="pt-3">
<div class="text-center">
<button type="button" class="btn newgroup_create btn-block d-block w-100" data-bs-toggle="modal" data-bs-target="#otp-success">Reset Password</button>
</div>
</div>
</div>
<div class="back-btn-col text-center">
<a href="index.html"><span><i class="fas fa-caret-left"></i></span> Back</a>
</div>
</div>

</div>
<div class="login-right pwd-bg">
</div>
</div>
</div>


<div class="modal fade" id="otp-success" style="display: none;" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-body">
<div class="form-group">
<label>OTP Code </label>
<input class="form-control form-control-lg group_formcontrol" name="otp" type="text">
</div>

<label class="custom-check d-flex flex-wrap ps-0 mt-3">
Didnt recieve OTP ? <a href="#" class="ms-1" > Resend OTP.</a>
</label>
<div class="modal-close text-end">
<div class="close-modal" data-bs-dismiss="modal">
<span>close</span>
</div>
</div>
</div>
</div>
</div>
</div>

</div>
<script src="{{url_for('static', filename='assets/js/jquery.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="{{url_for('static', filename='assets/js/bootstrap.bundle.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/jquery.slimscroll.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/script.js')}}"></script>
</body>
</html>