<html lang="en"><head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Rooms - Chat, Audio and Video </title>

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static', filename='assets/css/bootstrap.min.css')}}">

<link rel="stylesheet" href="{{url_for('static', filename='assets/css/app.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<style>
#snackpop {
  visibility: hidden;
  min-width: 250px; 
  margin-left: -125px; 
  background-color: #333; 
  color: #fff; 
  text-align: center; 
  border-radius: 2px; 
  padding: 16px;
  position: fixed; 
  z-index: 800; 
  right: 5%; 
  top: 70px; 
}
#snackpop.show{
	visibility: visible; 
  -webkit-animation: showin 0.5s, showout 0.5s 2.5s;
  animation: showin 0.5s, showout 0.5s 2.5s;
}
@-webkit-keyframes showin {
  from {right: 0; opacity: 0;}
  to {right: 50px; opacity: 1;}
}

@keyframes showin {
  from {right: 0; opacity: 0;}
  to {right: 50px; opacity: 1;}
}

@-webkit-keyframes showout {
  from {right: 50px; opacity: 1;}
  to {right: 0; opacity: 0;}
}

@keyframes showout {
  from {right: 50px; opacity: 1;}
  to {right: 0; opacity: 0;}
}
#snackbar {
  visibility: hidden;
  min-width: 250px; 
  margin-left: -125px; 
  background-color: #333; 
  color: #fff; 
  text-align: center; 
  border-radius: 2px; 
  padding: 16px;
  position: fixed; 
  z-index: 800; 
  left: 50%; 
  bottom: 70px; 
}

#snackbar.show {
  visibility: visible; 
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 50px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 50px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 50px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 50px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
.sidebar-menu{
	height: 100%;
	overflow: hidden;
}
.chat-profile-icon{
	max-width: 50px;
	max-height: 50px;
}
@media only screen and (max-width:900px) {
	.material-icons{display: none;visibility: hidden;}
	right-sidebar-wrap{
		position: absolute;
		top: 1%;
		width: 80%;
		left: 10%;
		
	}
	#new-status{
		width: 90%;
		height: 90%;
	}
}
.profile-drop{
	display: block; position: absolute; inset: auto 0px 0px auto; margin: 0px; transform: translate(150px, -35px);
}
.span-title{
	position: absolute;
	
	z-index:101;
}
.dropdown {
  position: fixed;
  bottom: 1.5%;
  left: 2%;
  z-index: 99;
 
}
.dropdown img{
	border-radius: 50%;
	margin-top: ;
	width: 40px;
	height: 40px;
	cursor: pointer;
	position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  bottom: 100%;
 
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 600;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}
.profile-icon-col{float: right;}
.chatsearch{
	
	display: none;
	position: absolute;
	top: 100%;
	z-index: 101;
	display: block;
	width: 100%;
	left: 0;
}
.carousel-item img{
	max-height: 500px;
	max-width: 500px;
}
@media only screen and (max-width: 800px) {
	
}
.show-chat-bar{
	width: 150%;
}
.select-chat{
	width: 100%;
	height: 100%;
	text-align: center;
}
.search-pop{
	position: relative;
}
.search-popup{
	position: absolute;
	display: none;
	left: 0;
	top: 100%;
	width: 100%;
	height: 250px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	border-radius: 10px;
	z-index: 40;
	background: white;
	color: black;
}
.not-online{
	display: none;
	width: 100%;
	height: 100px;
	background: orange;
	color: black;
	position: relative;
}
.not-l{
	position: abssolute;
	left: 0;
	width: 30%;
	height: 100%;
}
.not-r{
	position: absolute;
	right: 0;
	width: 70%;
	top: 0;
	height: 100%;
}
.room-loader {
  margin-left: 35%;
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #3498db; 
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
<script src="https://kit.fontawesome.com/c63faa1f51.js" crossorigin="anonymous"></script>
   <script src="https://use.fontawesome.com/4f05e2c5d5.js"></script>
<script>
window.onclick = function(event) {
	if (!event.target.matches('.fa')) {
		var x = document.getElementsByClassName('dropdown-content');
		for(let i=0;i<x.length;i++){
			if(x[i].style.display == "block"){
				x[i].style.display="none";
			}
		}
	
		
	}
}
function showDropdown(id){
	var x = document.getElementById(id);
	if(x.style.display=='none'){
		x.style.display='block';
	}else{x.style.display='none';}
}
function showSearch(id){
	var x = document.getElementById(id);
	if(x.style.display=='block'){
		x.style.display = 'none';
	}else{ x.style.display = 'block';}
}
function closeTab(id){
	var x = document.getElementById(id);
	var y = document.getElementById("middle");
	if(x.style.display=='block'){
		x.style.display = 'none';
		y.style.width = "150%";
	}else{ x.style.display = 'block';y.style.width = "100%";}
}
function toDarkmode(){
	var x = document.getElementById("main-body");
	if(x.classList.contains("darkmode")){
		x.classList.remove("darkmode");
	}else{
		x.classList.add("darkmode");
	}	
}
function addStatus(){
	console.log("here");
	var x = document.getElementById("main-body");
	var y = document.getElementById("add-status");
	if(x.classList.contains("modal-open")){
		x.classList.remove("modal-open");
		x.removeAttribute("style");
		y.style.display = 'none';
		y.classList.remove("show");
	}else{
		x.classList.add("modal-open");
		x.setAttribute("style", "overflow: hidden; padding-right: 0px;");
		y.classList.add("show");
		y.setAttribute("role", "dialog");
		y.style.display = 'block';
	}	
}
function addGroup(id){
	document.getElementById(id).style.display = 'block';
}
function viewStatus(){
	var x = document.getElementById('status-modal');
	if(x.style.display=='block'){
		x.style.display = 'none';
	}else{ x.style.display = 'block';}
}
</script>
</head>
<body id="main-body" class="status">

<div class="main-wrapper">

<div class="content main_content">

<div class="sidebar-menu">

<div class="menus-col">
<div class="chat-menus">
<ul>
<li>
<a href="{{url_for('rooms')}}" class="chat-unread blue" title="messages">
<span class="material-icons"><i class="fa fa-commenting" aria-hidden="true"></i></span>
</a>
</li>
<li>
<a href="{{url_for('roomGroups')}}" class="chat-unread pink" title="groups">
<span class="material-icons"><i class="fa fa-users" aria-hidden="true"></i></span>
</a>
</li>
<li>
<a href="{{url_for('roomStatus')}}" class="chat-unread" title="status">
<span class="material-icons"><i class="fa fa-smile-o" aria-hidden="true"></i></span>
</a>
</li>
<li>
<a href="{{url_for('roomCalls')}}" class="chat-unread" title="calls">

<span class="material-icons"><i class="fa fa-phone" aria-hidden="true"></i></span>
</a>
</li>
<li>
<a href="{{url_for('roomSettings')}}" class="chat-unread" title="settings">

<span class="material-icons"><i class="fa fa-cog" aria-hidden="true"></i></span>
</a>
</li>
</ul>
</div>
<div class="bottom-menus">
<ul>
<li>
<a href="#" data-bs-toggle="modal" data-bs-target="#add-new-group" onclick="addGroup('add-new-group')">
<span class="material-icons group-add-btn" title="Add Groups"><i class="fa fa-user-plus" aria-hidden="true"></i></span>

</a>
</li>
<li>
<a href="#" class="add-contacts-btn" data-bs-toggle="modal" data-bs-target="#add-contact" title="Add Contacts">
<i class="fa fa-plus"></i>
</a>
</li>
<li>
<a href="#" id="dark-mode-toggle" class="dark-mode-toggle" onclick="toDarkmode()">
<i class="fa fa-moon" title="Dark mode"></i>
 </a>
</li>
<li>
<div class="dropdown">
<img class="fa" src="avatar.jpg" alt="" onclick="showDropdown('profile-drop')" >
<div class="dropdown-content" id="profile-drop">
<a style="display:none;" id="new-s" href="#" data-bs-toggle="modal" data-bs-target="#new-status"></a>
<a href="javascript:void(0)" onclick="closeTab('middle1')">Profile <span class="profile-icon-col"><i class="fa fa-id-card-alt"></i></span></a>
<a href="{{url_for('roomSettings')}}" >Settings <span class="profile-icon-col"><i class="fa fa-cog"></i></span></a>
<a href="javascript:void(0)" onclick="getArchived('true')">Archived <span class="profile-icon-col"><i class="fa fa-archive" aria-hidden="true"></i></span></a>
<a href="{{url_for('logout')}}">Logout <span class="profile-icon-col"><i class="fa fa-power-off" aria-hidden="true"></i></span></a>
</div>
</div>
</li>
</ul>
</div>
</div>
</div>
<a style="display:none" id="on_call" data-bs-toggle="modal" data-bs-target="#voice_call"></a>

	{%block content%}
	
<div class="sidebar-group left-sidebar chat_sidebar" id="chat-msgs">

<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: 100%; height: 100%;"><div id="chats" class="left-sidebar-wrap sidebar active slimscroll" style="overflow: hidden; width: 100%; height: 100%;">
<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: 100%; height: 690px;"><div class="slimscroll" style="overflow: hidden; width: 100%; height: 690px;">

<div class="left-chat-title d-flex justify-content-between align-items-center">
<div class="chat-title">
<h4>CHATS</h4>
</div>
<div class="add-section">
<ul>
<li><a href="group.html"><i class="fa fa-users" aria-hidden="true"></i></a></li>
<li><a href="#" data-bs-toggle="modal" data-bs-target="#add-user"><i class="fa fa-plus"></i></a></li>
</ul>
</div>
</div>

<div class="search_chat has-search">
<span class="fa fa-search form-control-feedback"></span>
<div class="search-pop">
<input class="form-control chat_input" id="search-contacts" type="text" placeholder="Search Contacts" onkeyup="filterChat('users')">
<div class="search-popup" id="search-popup">
<a style="float: right;cursor: pointer;" onclick="this.parentElement.style.display='none'"><i class="fa fa-window-close"></i></a>
<h6>Searching in your Contact list</h6>
<div id="contacts"></div>
</div>
</div>
</div>

<div class="not-online" id="not-online">
<div class="not-l"></div>
<div class="not-r">
<div ><h6>Computer not connected</h6></div>
<div>Make sure your computer has an active Internet connection. </div>
<span><a href="#">Reconnect</a></sapn>
</div>
</div>



<div class="sidebar-body" id="chatsidebar">


</div>
</div><div class="slimScrollBar" style="background: rgb(204, 204, 204); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 1268px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
</div><div class="slimScrollBar" style="background: rgb(204, 204, 204); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 1268px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>

</div>

	

<div class="chat" id="middle">
<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: 100%; height: 100%;"><div class="slimscroll" style="overflow: hidden; width: 100%; height: 100%;">
<div id="chat-header" class="chat-header">
</div>
<div class="chat-body" >
<div class="messages" id="show-messages" style="width: 100%;height: 70%;overflow: auto;">

<div class="room-loader" id="room-loader">
</div>
</div>
</div>
</div><div class="slimScrollBar" style="background: rgb(204, 204, 204); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
 <div class="chat-footer">
<div id="load-messager"></div>
</div>
</div>


<div class="right-sidebar right_sidebar_profile" id="middle1">

</div>


{%endblock%}
<script>
function getHeader(){
	try{
		fetch('/room/header')
		    .then(function(response) {
			return response.text()
			hideloader();
		    })
		    .then(function(html) {    
			document.getElementById("chat-header").innerHTML = html;
			
		    })
		    .catch(function(err) {  
			console.log(err);
			  
		    });
	}catch(err){
		console.log(err);	
	}
}
function getMessager(){
	
	fetch('/room/messager')
	    .then(function(response) {
		return response.text()
		hideloader();
	    })
	    .then(function(html) {    
		document.getElementById("load-messager").innerHTML = html;
		
	    })
	    .catch(function(err) {  
		console.log(err);
		  
	    });
}
</script>
</div>

</div>


<div class="modal fade" id="report-account">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title">
<span class="material-icons"><i class="fa fa-user-plus" aria-hidden="true"></i></span>Report Account
</h5>
<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
<span class="material-icons"><i class="fa fa-times" aria-hidden="true"></i></span>
</button>
</div>
<div class="modal-body">
<div class="form-group">
<label>Reporting User {{session["active"]}}</label>
</div>
<div class="form-group">
<label>Add Description(optional)</label>
<textarea class="form-control form-control-lg group_formcontrol" name="" ></textarea>
</div>

<div class="form-group">

<div class="form-row profile_form text-end float-end m-0 align-items-center">

<div class="cancel-btn me-4">
<a href="#" data-bs-dismiss="modal" aria-label="Close" id="close-mod">Cancel</a>
</div>
<div class="">
<button type="button"  class="btn btn-block newgroup_create mb-0">
Report
</button>
</div>
</div>
</div>
</div>
</div>
</div>
</div>



<div class="modal fade" id="add-password">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title">
<span class="material-icons"><i class="fa fa-user-plus" aria-hidden="true"></i></span>2FA Password
</h5>
<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
<span class="material-icons"><i class="fa fa-times" aria-hidden="true"></i></span>
</button>
</div>
<div class="modal-body">

<div class="form-group">
<label>Enter Password</label>
<input class="form-control form-control-lg group_formcontrol" name="new-chat-title" type="password" >
</div>
<div class="form-group">
<label>Confirm Password</label>
<input class="form-control form-control-lg group_formcontrol" name="new-chat-title" type="password" >
</div>

<div class="form-group">

<div class="form-row profile_form text-end float-end m-0 align-items-center">

<div class="cancel-btn me-4">
<a href="#" data-bs-dismiss="modal" aria-label="Close" id="close-mod">Cancel</a>
</div>
<div class="">
<button type="button"  class="btn btn-block newgroup_create mb-0">
Add Password
</button>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="modal fade" id="add-question">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title">
<span class="material-icons"><i class="fa fa-user-plus" aria-hidden="true"></i></span>Add Question
</h5>
<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
<span class="material-icons"><i class="fa fa-times" aria-hidden="true"></i></span>
</button>
</div>
<div class="modal-body">
<div class="form-group">
<label>Select Question</label>
<input class="form-control form-control-lg group_formcontrol" list="questions" id="my-list">
<datalist id="questions">
<option >Your mothers Name</option>
</datalist>
</div>
<div class="form-group">
<label>Enter Password</label>
<input class="form-control form-control-lg group_formcontrol" name="new-chat-title" type="password" >
</div>

<div class="form-group">

<div class="form-row profile_form text-end float-end m-0 align-items-center">

<div class="cancel-btn me-4">
<a href="#" data-bs-dismiss="modal" aria-label="Close" id="close-mod">Cancel</a>
</div>
<div class="">
<button type="button"  class="btn btn-block newgroup_create mb-0">
Add Contact
</button>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
	

<div class="modal fade" id="add-user">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title">
<span class="material-icons"><i class="fa fa-user-plus" aria-hidden="true"></i></span>Add New Alias
</h5>
<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
<span class="material-icons"><i class="fa fa-times" aria-hidden="true"></i></span>
</button>
</div>
<div class="modal-body">

<div class="form-group">
<label>User Name</label>
<input class="form-control form-control-lg group_formcontrol" name="new-chat-title" type="text" onkeypress="return event.charCode != 32" id="u-name">
</div>
<div class="form-group">
<label>Email</label>
<input class="form-control form-control-lg group_formcontrol" name="new-chat-title" type="email" id="u-email">
</div>
<div class="form-group" style="display: none;" id="validate-code">
<a style="float: right;" href="javascript:void(0)" onclick="getCode()">Resend</a>
<label>Code </label>
<input class="form-control form-control-lg group_formcontrol" name="new-chat-title" type="text" id="u-code">
</div>

<div class="form-row profile_form text-end float-end m-0 align-items-center">

<div class="cancel-btn me-4">
<a href="#" data-bs-dismiss="modal" aria-label="Close">Cancel</a>
</div>
<div class="">
<button type="button" id="add-btn" onclick="NewUser()" class="btn btn-block newgroup_create mb-0">
Add Alias
</button>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="modal fade" id="add-contact">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title">
<span class="material-icons"><i class="fa fa-user-plus" aria-hidden="true"></i></span>Add To Contact
</h5>
<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
<span class="material-icons"><i class="fa fa-times" aria-hidden="true"></i></span>
</button>
</div>
<div class="modal-body">

<div class="form-group">
<label>User Name or Email</label>
<input class="form-control form-control-lg group_formcontrol" name="new-chat-title" type="text"  id="uname-email">
</div>
<div class="form-group" id="uname-resp">

</div>
<div class="form-group">

<div class="form-row profile_form text-end float-end m-0 align-items-center">

<div class="cancel-btn me-4">
<a href="#" data-bs-dismiss="modal" aria-label="Close" id="close-mod">Cancel</a>
</div>
<div class="">
<button type="button" id="add-btn" onclick="NewContact()" class="btn btn-block newgroup_create mb-0">
Add Contact
</button>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="modal fade" id="make_call_audio">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content voice_content">
<div class="modal-body voice_body">
<div class="call-box incoming-box">
<div class="call-wrapper">
<div class="call-inner">
<div class="call-user">
<img alt="User Image" src="{{url_for('static',filename='avatar.jpg')}}"  class="call-avatar">
<h4>Coonected on call to <span>{%if session.get("active") != None%}{{session["active"]}}{%endif%}</span>
</h4>
<audio id="user-audio-call"></audio>
</div>
<div class="call-items">
<a href="#" class="btn call-item call-start" onclick="mute('audio')">
<i id="mute-audio" class="fa fa-microphone"></i>
</a>
<a href="#" class="btn call-item call-end" onclick="stopAudio()" data-bs-dismiss="modal">
<span class="material-icons" ><i class="fa fa-times" aria-hidden="true"></i></span>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="modal fade" id="make_call_video">

<div class="modal-dialog modal-dialog-centered">
<div class="modal-content voice_content">
<div class="modal-body voice_body">
<div class="call-box incoming-box">
<center><h6>Connected to {%if session.get("active") != None%}{{session["active"]}}{%endif%} on video</h6></center>
<div class="call-wrapper">
<div class="call-inner">
<div class="call-user" style="height: 500px;width: 90%;margin-left: 5%;">
<video autoplay id="user-video-call" style="height: 600px;width: 100%;"></video>
<audio id="user-video-audio"></audio>
</div>
<div class="call-items">
<a href="#" class="btn call-item call-start" onclick="mute('video')">
<i id="mute" class="fa fa-microphone"></i>
</a>
<a href="#" class="btn call-item call-end" onclick="stopVideo()" data-bs-dismiss="modal" >
<span class="material-icons" ><i class="fa fa-times" aria-hidden="true"></i></span>
</a>
<a href="#" class="btn call-item call-end" onclick="closeShow()">
<span class="material-icons" ><i id="vid" class="fa fa-video"></i></span>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>



<div class="modal fade" id="chat-support">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title">
<span class="material-icons"><i class="fa fa-user-plus" aria-hidden="true"></i></span>Chat Support
</h5>
<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
 <span class="material-icons"><i class="fa fa-times" aria-hidden="true"></i></span>
</button>
</div>
<div class="modal-body">

<div id="support-load"  class="chat-body" style="height: 350px;min-height: 350px;overflow: auto;">


</div>


<div class="form-group">
<input class="form-control form-control-lg group_formcontrol" name="new-chat-title" type="text" placeholder="Enter Message" id="support-msg">
</div>
<div class="form-row profile_form text-end float-end m-0 align-items-center">

<div class="cancel-btn me-4">
<a href="#" data-bs-dismiss="modal" aria-label="Close">Cancel</a>
</div>
<div class="">
<button type="button" class="btn btn-block newgroup_create mb-0" onclick="chatSupport()">
Send
</button>
</div>
</div>
</div>
</div>
</div>
</div>
</div>






<div class="modal fade" id="invite-contact">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title">
<span class="material-icons"><i class="fa fa-user-plus" aria-hidden="true"></i></span>Invite Friends
</h5>
<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
 <span class="material-icons"><i class="fa fa-times" aria-hidden="true"></i></span>
</button>
</div>
<div class="modal-body">

<form action="new-friends">
<div class="form-group">

<div class="form-group">
<h6>An invite link will be sent to the users email</h6>
<label>Email</label>
<input class="form-control form-control-lg group_formcontrol" name="new-chat-title" type="email">
</div>
</form>

<div class="form-row profile_form text-end float-end m-0 align-items-center">

<div class="cancel-btn me-4">
<a href="#" data-bs-dismiss="modal" aria-label="Close">Cancel</a>
</div>
<div class="">
<button type="button" class="btn btn-block newgroup_create mb-0" data-bs-dismiss="modal" aria-label="Close">
Invite
</button>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="modal fade" id="add-new-group">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title">
<span class="material-icons group-add-btn"><i class="fa fa-user-plus" aria-hidden="true"></i></span>Create a New Group
</h5>
<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
<span class="material-icons"><i class="fa fa-times" aria-hidden="true"></i></span>
</button>
</div>
<div class="modal-body">

<form action="new-friends">
<div class="form-group">
<label>Group Name</label>
<input class="form-control form-control-lg group_formcontrol" name="new-chat-title" id="group-name" type="text">
</div>
<div class="form-group">
<label>Choose profile picture</label>
<div class="custom-input-file form-control form-control-lg group_formcontrol">
<input type="file" class="">
<span class="browse-btn">Browse File</span>
</div>
</div>
<div class="form-group">
<label>Topic (optional)</label>
<input class="form-control form-control-lg group_formcontrol" name="new-chat-title" id="group-topic" type="text">
</div>
<div class="form-group">
<label>Description</label>
<textarea class="form-control form-control-lg group_formcontrol" id="group-description"></textarea>
</div>
<div class="form-group">
<div class="d-flex align-items-center">
<label class="custom-radio me-3">Private Group
<input type="radio" value="private" id="group-private" name="radio">
<span class="checkmark"></span>
</label>
<label class="custom-radio">Public Group
<input type="radio" checked="checked" value="public" id="group-public"name="radio">
<span class="checkmark"></span>
</label>
</div>
</div>
</form>

<div class="form-row profile_form text-end float-end m-0 align-items-center">

<div class="cancel-btn me-4">
<a href="#" data-bs-dismiss="modal" aria-label="Close">Cancel</a>
</div>
<div class="">
<button type="button" class="btn btn-block newgroup_create mb-0" data-bs-toggle="modal" data-bs-target="#add-group-member" data-bs-dismiss="modal" aria-label="Close">
Add Participants
</button>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="modal fade custom-border-modal" id="add-group-member">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title">
<span class="material-icons group-add-btn"><i class="fa fa-user-plus" aria-hidden="true"></i></span>Add Group Members
</h5>
<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
<span class="material-icons"><i class="fa fa-times" aria-hidden="true"></i></span>
</button>
</div>
<div class="modal-body">
<div class="search_chat has-search me-0 ms-0">
<input class="form-control chat_input" id="search-contact-group" type="text" placeholder="Search Contacts" onkeyup="filterChat('group-contacts')">
</div>
<div class="last-chat-time" style="float: right;">
Select all <input type="checkbox" onchange="addUsers('all')">
<span class="checkmark"></span>
</div><br>
<div class="sidebar" style="height: 400px;overflow: auto;" id="group-contacts">

{% for letter in alphabet%}
{%for contact in contacts%}
{%if contact[2][0] == letter.lower() or contact[2][0] == letter%}
<ul class="user-list mt-2">
<div class="user-lits">
<span class="contact-name-letter">{{letter}}</span>
<li class="user-list-item">
<div class="avatar avatar-online">
<img src="{{url_for('static', filename='avatar.jpg')}}" class="rounded-circle" alt="image">
</div>
<div class="users-list-body align-items-center">
<div>
<h5>{{contact[2]}}</h5>
<p>{{contact[3]}}</p>
</div>
<div class="last-chat-time">
<label class="custom-check">
<input id="{{contact[0]}}" type="checkbox" class="checker" onchange="selectUsers()">
<span class="checkmark"></span>
 </label>
</div>
</div>
</li>
</div>
</ul>
{%endif%}
{%endfor%}

{%endfor%}

</div>
<div class="form-row profile_form text-end float-end m-0 mt-3 align-items-center">

<div class="cancel-btn me-3">
<a href="#" data-bs-dismiss="modal" aria-label="Close">Cancel</a>
</div>
<div class="">
<button type="button" class="btn newgroup_create previous mb-0 me-3" data-bs-toggle="modal" data-bs-target="#add-new-group" data-bs-dismiss="modal" aria-label="Close">
 Previous
</button>
</div>
<div class="">
<button type="button" class="btn btn-block newgroup_create mb-0" onclick="createGroup()" data-bs-dismiss="modal" aria-label="Close">
Create Group
</button>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="modal fade custom-border-modal" id="contact-list">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title">
<span class="material-icons group-add-btn"><i class="fa fa-user-plus" aria-hidden="true"></i></span>My Contacts
</h5>
<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
<span class="material-icons"><i class="fa fa-times" aria-hidden="true"></i></span>
</button>
</div>
<div class="modal-body">
<div class="search_chat has-search me-0 ms-0">
<input class="form-control chat_input" id="searchmy-contacts" type="text" placeholder="Search Contacts" onkeyup="filterChat('my-contacts')">
</div>
<div class="" style="float: right">
<a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#add-contact">Add Contact</a>
</div><br>
<div class="sidebar" style="height: 400px;overflow: auto;" id="my-contacts">

{% for letter in alphabet%}
{%for contact in contacts%}
{%if contact[2][0] == letter.lower() or contact[2][0] == letter%}
<ul class="user-list mt-2">
<div class="user-lits">
<span class="contact-name-letter">{{letter}}</span>
<li class="user-list-item" onclick="activateRoom('{{contact[2]}}')">
<div class="avatar avatar-online">
<img src="{{url_for('static', filename='avatar.jpg')}}" class="rounded-circle" alt="image">
</div>
<div class="users-list-body align-items-center">
<div>
<h5>{{contact[2]}}</h5>
<p>{{contact[3]}}</p>
</div>
<div class="last-chat-time">

</div>
</div>
</li>
</div>
</ul>
{%endif%}
{%endfor%}

{%endfor%}

</div>
<div class="form-row profile_form text-end float-end m-0 mt-3 align-items-center">

<div class="cancel-btn me-3">
<a href="javascript:void(0)" data-bs-dismiss="modal" aria-label="Close" id="contact-list-close">Cancel</a>
</div>

</div>
</div>
</div>
</div>
</div>


<div class="modal fade custom-border-modal" id="forward-contacts">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title">
<span class="material-icons group-add-btn"><i class="fa fa-user-plus" aria-hidden="true"></i></span>Select Contacts To Forward
</h5>
<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
<span class="material-icons"><i class="fa fa-times" aria-hidden="true"></i></span>
</button>
</div>
<div class="modal-body">
<div class="search_chat has-search me-0 ms-0">
<input class="form-control chat_input" id="search-contact-user" type="text" placeholder="Search Contacts" onkeyup="filterChat('user-contacts')">
</div>
<div class="last-chat-time" style="float: right;">
Select all <input type="checkbox" onchange="addUsers('all')">
<span class="checkmark"></span>
</div><br>
<div class="sidebar" style="height: 400px;overflow: auto;" id="user-contacts">

{% for letter in alphabet%}
{%for contact in contacts%}
{%if contact[2][0] == letter.lower() or contact[2][0] == letter%}
<ul class="user-list mt-2">
<div class="user-lits">
<span class="contact-name-letter">{{letter}}</span>
<li class="user-list-item">
<div class="avatar avatar-online">
<img src="{{url_for('static', filename='avatar.jpg')}}" class="rounded-circle" alt="image">
</div>
<div class="users-list-body align-items-center">
<div>
<h5>{{contact[2]}}</h5>
<p>{{contact[3]}}</p>
</div>
<div class="last-chat-time">
<label class="custom-check">
<input type="checkbox" class="checker" onchange="selectUsers()">
<span class="checkmark"></span>
 </label>
</div>
</div>
</li>
</div>
</ul>
{%endif%}
{%endfor%}

{%endfor%}

</div>
<div class="form-row profile_form text-end float-end m-0 mt-3 align-items-center">

<div class="cancel-btn me-3">
<a href="#" data-bs-dismiss="modal" aria-label="Close">Cancel</a>
</div>
<div class="">
<button type="button" class="btn btn-block newgroup_create mb-0" data-bs-dismiss="modal" aria-label="Close">
Forward
</button>
</div>
</div>
</div>
</div>
</div>
</div>




<div class="modal fade" id="video_call" role="document">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content voice_content">
<div class="modal-body voice_body">
<div class="call-box incoming-box">
<div class="call-wrapper">
<div class="call-inner">
<div class="call-user">
<img alt="User Image" src="avatar.jpg"  class="call-avatar">
<h4>Brietta Blogg <span>video calling</span>
</h4>
</div>
<div class="call-items">
<a href="#" class="btn call-item call-end" data-bs-dismiss="modal">
<span class="material-icons"><i class="fa fa-times" aria-hidden="true"></i></span>
</a>
<a href="#video-call" onclick="startVideo()" class="btn call-item call-start" data-bs-toggle="modal" data-bs-target="#make_call_video">
<i class="fa fa-video"></i>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="modal fade" id="voice_call" role="document">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content voice_content">
<div class="modal-body voice_body">
<div class="call-box incoming-box">
<div class="call-wrapper">
<div class="call-inner">
<div class="call-user">
<img alt="User Image" src="{{url_for('static',filename='avatar.jpg')}}"  class="call-avatar">
<h4><span>{%if session.get("active") != None%}{{session["active"]}}{%endif%}</span></h4>
<h4>Voice Calling 
</h4>
</div>
<div class="call-items">
<a href="javascript:void(0)" class="btn call-item call-end" data-bs-dismiss="modal" id="voicecall_end">
<span class="material-icons" ><i class="fa fa-times" aria-hidden="true"></i></span>
</a>
<a style="display:none;" id="start_audio_call" data-bs-toggle="modal" data-bs-target="#make_call_audio" href="javascript:void(0)"></a>
<a href="#" class="btn call-item call-start" onclick="startAudio()" >
<i class="fa fa-phone"></i>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="modal fade" id="add-status" style="display: none;" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title">
Drag and drop files upload
</h5>
<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" onclick="addStatus()">
<span class="material-icons"><i class="fa fa-times" aria-hidden="true"></i></span>
</button>
</div>
<div class="modal-body">

<form id="js-upload-form">
<div class="upload-drop-zone" id="drop-zone">
<i class="fa fa-cloud-upload fa-2x"></i> <span class="upload-text">Just drag and
drop files here</span>
</div>
</form>
<style>
.status_link{
	margin-left: 10px;cursor:pointer;
	border-radius:50%;
	
	text-align: center;
}
</style>
<div style="position: absolute;bottom: 10%;left: 1%;">
<a href="javascript:void(0)" onclick="statusUpdate(0)" class="status_link"><i class="fa fa-pencil fa-2x"></i></a>
<a href="javascript:void(0)" onclick="statusUpdate(1)" class="status_link"><i class="fa fa-camera fa-2x"></i></a>
<a href="javascript:void(0)" onclick="statusUpdate(2)" class="status_link"><i class="fa fa-video fa-2x"></i></a>
</div>
<div  class="form-row profile_form text-end float-end m-0 align-items-center">

<div class="cancel-btn me-4">
<a href="javascript:void(0)" data-bs-dismiss="modal" onclick="addStatus()">Cancel</a>
</div>
<div class="">
<button type="button" class="btn btn-block newgroup_create mb-0" data-bs-dismiss="modal" aria-label="Close">
Add to Upload
</button>
</div>
</div>
</div>
</div>
</div>
</div>

</div>

<!------status modal------>


<div id="snackpop"></div>
<script src="{{url_for('static', filename='assets/js/jquery.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="{{url_for('static', filename='assets/js/bootstrap.bundle.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/jquery.slimscroll.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/script.js')}}"></script>
</body><div id="snackbar"></div>
<script>
function sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
   }
$(document).ready(function(){
	$("#chatsidebar").load("/api/v/request/chats");
	$("#middle1").load("/api/v/request/loadprofile?mine");
	
	getHeader();
	getMessager();
	getRoomMessages();
	try{
		getRoom();
	}catch(err){
		snackPop("You may have a new message");
	}
	$.ajaxSetup({async: false});
	setInterval(loadchats, 5000);
	
})
window.onclick = function(event) {
	if (!event.target.matches('.fa')) {
		var x = document.getElementsByClassName('dropdown-menu');
		//var y = document.getElementById("search-dropdown");
		for(let i=0;i<x.length;i++){
			if(x[i].style.display == "block"){
				x[i].removeAttribute("style");
			}
		}
		
		
	}
}

function loadsupport(){
	$("#support-load").load("/api/v/request/loadsupport");
	setInterval(loadsupport, 10000);
}
function getRoomMessages(){
	//$("#show-messages").load("/api/v/request/loadroom");
	fetch('/room?loadroom')
	    .then(function(response) {
		return response.text()
	    })
	    .then(function(html) {    
		document.getElementById("show-messages").innerHTML = html;
		document.getElementById("room-loader").style.display = "none";
		
	    })
	    .catch(function(err) {  
		console.log('Failed to fetch page: ', err);
		  
	    });
	
}

function loadchats(){
	if(location.hash.includes("archived")){
		$("#load-chats").load("/api/v/request/loadmessages?archived");
		getArchived('true');
		location.hash = "";
	}
	let msg = $.post("/api/v/request/checkRoom");
	
	if(!window.navigator.onLine){
		document.getElementById('not-online').style.display = 'block';
	}else{
		document.getElementById('not-online').style.display = 'none';
	}
	let x = msg.responseText
	x = x.split(",")
	if(x[0] == "true"){
		try{
			$("#load-chats").load("/api/v/request/loadmessages");
			
			let div = document.getElementById("show-messages")
			div.scrollTop = div.scrollHeight;
		}catch(err){
			console.log("err");
			snackPop("You have a new message");		
		}
	}	
	if(x[1] == "true"){
		newCall(x[2]);
	}else{
		document.getElementById('voicecall_end').click();
	}
}
function onCall(){
	document.getElementById('on_call').click();
	sleep(40000).then(() => {
		setTimeout(endCall,40000);
	})
	
}
function connectCall(){
	let msg = $.post("/api/v1/request/connect?outgoing",{key:"email"});
	if(msg.responseText=="success"){
		onCall()
	}else{
		snackPop(msg.responseText)
	}
	
}
let active =0
let ding = 0
function newCall(id){
	if(active == 0){
		$.post("/api/v1/request/connect");
		active =1;
		document.getElementById('on_call').click();
		snackPop("{{session['active']}} is voice calling");
		playSound();
		setTimeout(endCall,40000);
	}
	
}
function playSound(){
	ding = new Audio("{{url_for('static',filename='call_ringtone_02.mp3')}}");
	ding.play();
}
function endCall(){
	$.post("/api/v1/request/connect?endcall=outgoing");
	document.getElementById('voicecall_end').click();
	ding.pause()
}
function activateRoom(id){
	//document.getElementById("room-loader").style.display="block";
	$.post("/api/v/request/checkMessage?active="+id);
	getRoomMessages();
	
	if(location.search){
		location.href = "/";
	}
	getHeader();
	getMessager();
	showHide();
	document.getElementById("contact-list-close").click();
	document.getElementById("close-mod").click();
	document.getElementById("search-popup").style.display='none';
	
	
}
function showHide(){
	let x = document.getElementById("chat-msgs");
	let z = document.getElementById("show-messages");
	let y = document.getElementById("middle");
	if(x.classList.contains('hide-left-sidebar')){
		x.classList.remove("hide-left-sidebar");
		y.classList.remove("show-chatbar");
		
		
	}else{
		x.classList.add("hide-left-sidebar");
		y.classList.add("show-chatbar");
		
		
	}
	
}
function SendMessage(){
	var msg = document.getElementById('message').value;
	
	
	
	{%if session.get("active-group") == None%}
		let ms = document.getElementById('show-messages');
	{%else%}
		let ms = document.getElementById('msgs');
	{%endif%}
	let m = document.createElement('div')
	m.setAttribute("class", "chats chats-right");
	
	m.innerHTML = `
		
		<div class="chat-avatar">
		<img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"  class="rounded-circle dreams_chat">
		</div>
		<div class="chat-content">
		<div class="message-content">
		`+msg+`
		<div class="chat-time">
		<div>
		<div class="time"><i class="fa fa-clock"></i> just now </div>
		</div>
		</div>
		</div>
		
		</div>
		<div class="chat-action-btns ms-3">
		<div class="chat-action-col">
		<a class="#" href="#" data-bs-toggle="dropdown">
		<i class="fa fa-ellipsis-h"></i>
		</a>
		<div class="dropdown-menu dropdown-menu-end">
		<a href="#" class="dropdown-item dream_profile_menu">Copy <span><i class="fa fa-copy"></i></span></a>
		<a href="#" class="dropdown-item">Save <span class="material-icons">save</span></a>
		<a href="#" class="dropdown-item">Forward <span><i class="fa fa-share"></i></span></a>
		<a href="#" class="dropdown-item">Delete <span><i class="fa fa-trash-o" aria-hidden="true"></i></span></a>
		</div>
		</div>
		</div>
		<div class="chat-read-col">
		<span class="material-icons"><i class="fa fa-clock" aria-hidden="true"></i></span>
		</div>
		
	`;
	ms.append(m);
	
	
	$.ajaxSetup({async: true});
	let x = $.post("/api/v/request/sendmessage", {key: "email",msg: msg});
	let div = document.getElementById("show-messages")
	div.scrollTop = div.scrollHeight;
	console.log(msg);	
	document.getElementById('message').value = "";	
	$.ajaxSetup({async: false});
	//$("#show-messages").load("/api/v/request/loadroom");
	//getRoomMessages();
	return false;
}
function filterChat(mode) {
  if(mode== "users"){
	  var input, filter, table, tr, td, i, txtValue;
	  var pop = document.getElementById("search-popup");
	  input = document.getElementById("search-contacts");
	  filter = input.value.toUpperCase();
	  val = input.value;
	  table = document.getElementById("load-chats");
	  tr = table.getElementsByClassName("user-list-item");
	  let x = tr.length;
	  for (i = 0; i < tr.length; i++) {
	    td = tr[i].getElementsByTagName("h5")[0];
	    if (td) {
	      txtValue = td.textContent || td.innerText;
	      if (txtValue.toUpperCase().indexOf(filter) > -1) {
		tr[i].style.display = "";
	      } else {
		tr[i].style.display = "none";
		x = x -1;	
	      }
	    }
	  }
	  if(x== 0){
		pop.style.display = 'block';
		$("#contacts").load("/api/v/request/searchContacts?contact="+val);
	  }else{
		if(pop.style.display == 'block'){
			pop.style.display='none';	
		}
          }
  }
  if(mode== "groups"){
	  var input, filter, table, tr, td, i, txtValue;
	  //var pop = document.getElementById("search-popup");
	  input = document.getElementById("search-contact1");
	  filter = input.value.toUpperCase();
	  val = input.value;
	  table = document.getElementById("load-chats");
	  tr = table.getElementsByClassName("user-list-item");
	  let x = tr.length;
	  for (i = 0; i < tr.length; i++) {
	    td = tr[i].getElementsByTagName("h5")[0];
	    if (td) {
	      txtValue = td.textContent || td.innerText;
	      if (txtValue.toUpperCase().indexOf(filter) > -1) {
		tr[i].style.display = "";
	      } else {
		tr[i].style.display = "none";
		x = x -1;	
	      }
	    }
	  }
	  
  }
  if(mode== "messages"){
	  var input, filter, table, tr, td, i, txtValue;
	  input = document.getElementById("search-chats");
	  filter = input.value.toUpperCase();
	  table = document.getElementById("show-messages");
	  tr = table.getElementsByClassName("chats");
	  let x = tr.length;
	  for (i = 0; i < tr.length; i++) {
	    td = tr[i].getElementsByClassName("message-content")[0];
	    if (td) {
	      txtValue = td.textContent || td.innerText;
	      if (txtValue.toUpperCase().indexOf(filter) > -1) {
		tr[i].style.display = "";
	      } else {
		tr[i].style.display = "none";
		x = x -1;	
	      }
	    }
	  }
  }
   if(mode== "contacts"){
	  var input, filter, table, tr, td, i, txtValue;
	  input = document.getElementById("contacts-search-contacts");
	  filter = input.value.toUpperCase();
	  table = document.getElementById("contacts-contacts");
	  tr = table.getElementsByClassName("user-lits");
	  let x = tr.length;
	  for (i = 0; i < tr.length; i++) {
	    td = tr[i].getElementsByTagName("h5")[0];
	    if (td) {
	      txtValue = td.textContent || td.innerText;
	      if (txtValue.toUpperCase().indexOf(filter) > -1) {
		tr[i].style.display = "";
	      } else {
		tr[i].style.display = "none";
		x = x -1;	
	      }
	    }
	  }
  }
  if(mode== "calls"){
	  var input, filter, table, tr, td, i, txtValue;
	  input = document.getElementById("search-contact1");
	  filter = input.value.toUpperCase();
	  table = document.getElementById("calls");
	  tr = table.getElementsByClassName("user-list-item");
	  let x = tr.length;
	  for (i = 0; i < tr.length; i++) {
	    td = tr[i].getElementsByTagName("h5")[0];
	    if (td) {
	      txtValue = td.textContent || td.innerText;
	      if (txtValue.toUpperCase().indexOf(filter) > -1) {
		tr[i].style.display = "";
	      } else {
		tr[i].style.display = "none";
		x = x -1;	
	      }
	    }
	  }
  }
  if(mode== "my-contacts"){
	  var input, filter, table, tr, td, i, txtValue;
	  input = document.getElementById("searchmy-contacts");
	  filter = input.value.toUpperCase();
	  table = document.getElementById("my-contacts");
	  tr = table.getElementsByClassName("user-lits");
	  let x = tr.length;
	  for (i = 0; i < tr.length; i++) {
	    td = tr[i].getElementsByTagName("h5")[0];
	    if (td) {
	      txtValue = td.textContent || td.innerText;
	      if (txtValue.toUpperCase().indexOf(filter) > -1) {
		tr[i].style.display = "";
	      } else {
		tr[i].style.display = "none";
		x = x -1;	
	      }
	    }
	  }
   }
  if(mode== "group-contacts"){
	  var input, filter, table, tr, td, i, txtValue;
	  input = document.getElementById("search-contact-group");
	  filter = input.value.toUpperCase();
	  table = document.getElementById("group-contacts");
	  tr = table.getElementsByClassName("user-lits");
	  let x = tr.length;
	  for (i = 0; i < tr.length; i++) {
	    td = tr[i].getElementsByTagName("h5")[0];
	    if (td) {
	      txtValue = td.textContent || td.innerText;
	      if (txtValue.toUpperCase().indexOf(filter) > -1) {
		tr[i].style.display = "";
	      } else {
		tr[i].style.display = "none";
		x = x -1;	
	      }
	    }
	  }
   }
   if(mode== "user-contacts"){
	  var input, filter, table, tr, td, i, txtValue;
	  input = document.getElementById("search-contact-user");
	  filter = input.value.toUpperCase();
	  table = document.getElementById("user-contacts");
	  tr = table.getElementsByClassName("user-lits");
	  let x = tr.length;
	  for (i = 0; i < tr.length; i++) {
	    td = tr[i].getElementsByTagName("h5")[0];
	    if (td) {
	      txtValue = td.textContent || td.innerText;
	      if (txtValue.toUpperCase().indexOf(filter) > -1) {
		tr[i].style.display = "";
	      } else {
		tr[i].style.display = "none";
		x = x -1;	
	      }
	    }
	  }
   }
   if(mode== "status"){
	  var input, filter, table, tr, td, i, txtValue;
	  input = document.getElementById("search-status-contacts");
	  filter = input.value.toUpperCase();
	  table = document.getElementById("chat-sidebar");
	  tr = table.getElementsByClassName("user-list");
	  let x = tr.length;
	  for (i = 0; i < tr.length; i++) {
	    td = tr[i].getElementsByTagName("h5")[0];
	    if (td) {
	      txtValue = td.textContent || td.innerText;
	      if (txtValue.toUpperCase().indexOf(filter) > -1) {
		tr[i].style.display = "";
	      } else {
		tr[i].style.display = "none";
		x = x -1;	
	      }
	    }
	  }
   }
 	
}
function NewUser(){
	var uname = document.getElementById("u-name").value;
	var email = document.getElementById("u-email").value;
	var code = document.getElementById("u-code");
	var code_box = document.getElementById("validate-code");
	var btn = document.getElementById("add-btn");
	if(code_box.style.display == "none"){
		let msg = $.post("/api/v1/request/join-room", {key: "email",email: email,uname: uname});
		if(msg.responseText == "success"){
			popup("A verification code has been sent to email "+email+" enter code to validate ");
			code_box.style.display = 'block';
			btn.innerText = "Validate";
		}else{
			popup(msg.responseText);			
		}
	}else{
		let msg = $.post("/api/v1/request/verify", {key: "email",email: email,code: code.value, uname:uname});
		if(msg.responseText == "success"){
			popup("User "+uname+" Added to Rooms");
			location.reload()
		}else{
			popup(msg.responseText);			
		}	
	}
}
function NewContact(){
	var uname = document.getElementById("uname-email").value;
	let x = document.getElementById("chat-msgs");
	let y = document.getElementById("middle");
	var z = document.getElementById("uname-resp")
	let msg = $.post("/api/v/request/search-user", {key: "email",email: uname});
	if(msg.responseText == "success"){
		
		popup("Connecting to user "+uname);
		x.classList.add("hide-left-sidebar");
		y.classList.add("show-chatbar");
		getHeader();
		getMessager();
		document.getElementById("close-mod").click();
		getRoomMessages();
	}else{
		z.innerHTML = msg.responseText;
		popup(msg.responseText);
	}
}
function getCode(){
	var email = document.getElementById("u-email").value;
	let msg = $.post("/api/v1/request/getCode", {key: "email",email: email});
	if(msg.responseText == "success"){
		popup("A verification code has been sent to email "+email+" enter code to validate ");
		
	}else{
		popup(msg.responseText);			
	}	
}
function popup(text){
	if(text != "read"){
		var x = document.getElementById("snackbar");
		x.innerText = text;
		x.className = "show";
		setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
	}
	
}
function snackPop(text){
	var x = document.getElementById("snackpop");
	x.innerText = text;
	x.className = "show";
	setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
}
function viewProfile(user){
	if(user == "user"){
		$("#middle1").load("/api/v/request/loadprofile?user");
		
	}
}
function chatSupport(){
	loadsupport();
}
function deleteChat(){
	let msg = $.post("/api/v1/request/deleteChat", {key: "email"});
	if(msg.responseText == "success"){
		getHeader();
		getMessager();
		getRoomMessages();
		$("#load-chats").load("/api/v/request/loadmessages");
		popup("Chat Deleted Successfully");
	}else{
		popup(msg.responseText);
	}
}
function deleteMessage(id){
	let msg = $.post("/api/v1/request/deleteMsg", {key: "email",id: id});
	if(msg.responseText == "success"){
		document.getElementById("msg-"+id).innerText = "This Message has been deleted";
	}else if(msg.responseText == "successfull"){
		document.getElementById("message-"+id).remove();
	}else{
		popup(msg.responseText);
	}
}

function addUsers(id){
	if(id == "all"){
		var y = document.getElementsByClassName("checker");
		for(let i=0;i<y.length;i++){
			if(y[i].checked == true){
				y[i].removeAttribute("checked", "checked");
			}else{
				y[i].setAttribute("checked", "checked");
			}
		}
	}
}
function Archive(){
	let msg = $.post("/api/v/request/archive", {key: "email"});
	if(msg.responseText == "success"){
		$("#load-chats").load("/api/v/request/loadmessages");
		popup("Chat Archived");	
	}else if(msg.responseText == "successfull"){
		$("#load-chats").load("/api/v/request/loadmessages");
		popup("Chat Unarchived")
	}else{
		popup(msg.responseText);
	}
}
function getArchived(mode){
	if(location.search){
		location.href = "/#archived"
	}
	if(mode == "true"){
		$("#load-chats").load("/api/v/request/loadmessages?archived");
	}else{
		$("#load-chats").load("/api/v/request/loadmessages");
	}
	
}
function copyMessage(){
	
}
let constraints = {
  video: true,
  audio:true,
};



if(location.hash.includes("video-call")){
	startVideo();
}
const video = document.getElementById("user-video-call");
const audio = document.getElementById("user-video-audio");
const audio_call = document.getElementById("user-audio-call");
function startVideo(){
	
	navigator.mediaDevices.getUserMedia(constraints).then((stream) => {
	  video.srcObject = stream;
	  audio.srcObject = stream;
	});
}

function stopVideo(){
   
	 video.srcObject = null;
	  audio.srcObject = null;
   
}
function startAudio(){
	let msg =$.post("/api/v1/request/connect",{key: "email"});
	if(msg.responseText ="success"){
		document.getElementById("start_audio_call").click();
		 navigator.mediaDevices.getUserMedia(constraints).then((stream) => {
		  audio_call.srcObject = stream;
	     });
	}else{	
		{%if session.get("room-name") != None%}
			snackPop("Could not connect to user {{session['room-name']}}");
		{%else%}
			snackPop("An unknown error has occured");
		{%endif%}
	}
}
function stopAudio(){
	audio_call.srcObject = null;
	if(audio_call.srcObject != null){
		audio_call.srcObject =null;
	}
}
function mute(mode)
{
	if(mode == "video"){
		var x = document.getElementById('mute');
	}else{
		var x = document.getElementById('mute-audio');
	}
	if(x.classList.contains('fa-microphone-slash'))
	{
		
		navigator.mediaDevices.getUserMedia(constraints).then((stream) => {
		 if(mode == "video"){
		  audio.srcObject = stream;
		 }else{ audio_call.srcObject = stream;}
		});
		x.classList.remove('fa-microphone-slash');
		x.classList.add('fa-microphone');
	}else{
		
		if(mode == "video"){
			audio.srcObject = null;
		}else{audio_call.srcObject = null;}
		x.classList.remove('fa-microphone');
		x.classList.add('fa-microphone-slash');
	}
	
}
function closeShow()
{
	var x = document.getElementById('vid');
	//var y = document.getElementById('vidloader');
	if(x.classList.contains('fa-video'))
	{
		x.classList.remove('fa-video');
		x.classList.add('fa-video-slash');
		video.srcObject  = null;
		//y.style.display = 'block';
	}else{
		x.classList.remove('fa-video-slash');
		//y.style.display = 'none';
		
		navigator.mediaDevices.getUserMedia(constraints).then((stream) => {
		  video.srcObject = stream;
		});
		x.classList.add('fa-video');
	}
}
function createGroup(){
	let users = [];
	var name = document.getElementById("group-name").value;
	var topic = document.getElementById("group-topic").value;
	var description = document.getElementById("group-description").value;
	var nm = document.getElementById("group-private");
	let profile = "public"
	if(nm.checked == true){
		profile = "private"
	}
	var y = document.getElementsByClassName("checker");
	for(let i=0;i<y.length;i++){
		if(y[i].checked == true){
			if(y[i].id != ""){
				users.push(y[i].id);
			}
		}
	}
	let msg = $.post("/api/v1/request/createGroup",{key: "email",name: name,topic:topic,description:description,profile:profile,participants:users});
	if(msg.responseText == "success"){
		popup("Group "+name+" successfully created");
	}else{
		popup(msg.responseText);
	}
	
}
</script>

</html>