{%extends 'index.html'%}

{%block content%}
<style>
#middle{
	position:absolute;width:67%;right:0;top: 0;
}
@media only screen and (max-width:900px) {
	#middle{
		width: 100%;
	}
}
</style>
<script src="{{url_for('static', filename='assets/js/jquery.js')}}"></script>

<div id="not-online" style="visibility:hidden"></div>
<div id="ss" style="position:relative;width:100%;">
<div id="room-loader" class="room-loader"></div>
</div>
<script>
$(document).ready(function(){
	getProfile();
	
	setInterval(loadchats, 5000);
})
function support(){
	location.hash = "support";
	document.getElementById("help-support").click();
	$("#support-load").load("/api/v/request/loadsupport");
}
function sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
   }
function loadchats(){
	
	if(location.hash.includes("archived")){
		$("#load-chats").load("/api/v/request/loadmessages?archived");
		getArchived('true');
		location.hash = "";
	}
	let msg = $.post("/api/v/request/checkRoom");
	
	if(!window.navigator.onLine){
		document.getElementById('not-online').style.display = 'block';
	}else{
		document.getElementById('not-online').style.display = 'none';
	}
	let x = msg.responseText
	x = x.split(",")
	if(x[0] == "true"){
		try{
			$("#load-chats").load("/api/v/request/loadmessages");
			$("#show-messages").load("/api/v/request/loadroom");
			let div = document.getElementById("show-messages")
			div.scrollTop = div.scrollHeight;
		}catch(err){
			console.log("err");
			snackPop("You have a new message");		
		}
	}	
	console.log(x[2])
	if(x[1] == "true"){
		newCall(x[2]);
	}else{
		document.getElementById('voicecall_end').click();
	}
}

function getProfile(){
	fetch('/api/v/request/getProfile')
	    .then(function(response) {
		return response.text()
	    })
	    .then(function(html) {    
		document.getElementById("ss").innerHTML = html;
		document.getElementById("room-loader").style.display="none";
		
	    })
	    .catch(function(err) {  
		//document.getElementById("room-loader").innerHTML = "<p>An error ouccured<br><a onclick='location.reload()'>Reload</a></p>";
		console.log('Failed to fetch page: ', err);
		  
	    });
	
}

function updateData(){
	$.ajaxSetup({async: false});
	let x = document.getElementById("general");
	let ins = x.getElementsByTagName("input");
	let vals = [];
	for(let i=0;i<ins.length;i++){
		y = ins[i].name;
		z = ins[i].value;
		
		vals.push({
			id: y,
        		value: z
		});
	}
	vals = JSON.stringify(vals);
	let msg = $.post("/api/v1/request/updateProfile",{data:vals});
	if(msg.responseText == "success"){
		snackPop("Data updated successfully");
	}else{
		snackPop(msg.responseText);
	}
}
</script>
{%endblock%}