{%extends 'index.html'%}
{%block content%}
<div class="sidebar-group left-sidebar chat_sidebar" id="view-status">

<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: 100%; height: 690px;"><div id="chats" class="left-sidebar-wrap sidebar active slimscroll" style="overflow: hidden; width: 100%; height: 690px;">
<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: 100%; height: 690px;"><div class="slimscroll" style="overflow: hidden; width: 100%; height: 690px;">

<div class="left-chat-title d-flex justify-content-between align-items-center">
<div class="chat-title">
<h4>STATUS</h4>
</div>
<div class="add-section">
<ul>
<li><a href="#" data-bs-toggle="modal" onclick="addStatus()"><span class="material-icons" ><i class="fa fa-file" aria-hidden="true"></i></span></a></li>
</ul>
</div>
</div>

<div class="search_chat has-search mb-0">
<span class="fas fa-search form-control-feedback" aria-hidden="true"></span>
<input class="form-control chat_input" id="search-contacts" type="text" placeholder="Search Contacts">
</div>
<div class="sidebar-body" id="chatsidebar" style="height: 70%;overflow: auto;">

<div class="left-chat-title d-flex justify-content-between align-items-center pl-0 pr-0">
<div class="chat-title">
<h4>Recent STATUS</h4>
</div>
</div>

<ul class="user-list mt-2">
<li class="user-list-item">
<a href="#" class="d-flex" data-bs-toggle="modal" data-bs-target="#status-modal">
<div class="avatar avatar-online">
<img src="avatar.jpg" class="rounded-circle" alt="image">
</div>
<div class="users-list-body">
<div>
<h5>Regina Dickerson</h5>
<p>Just now</p>
</div>
</div>
</a>
 </li>

</ul>

<div class="left-chat-title d-flex justify-content-between align-items-center pl-0 pr-0 mt-1">
 <div class="chat-title">
<h4>VIEWED</h4>
</div>
</div>

<ul class="user-list mt-2">
<li class="user-list-item">
<a href="#" class="d-flex w-100" data-bs-toggle="modal" onclick="viewStatus()">
<div>
<div class="avatar avatar-away">
<img src="avatar.jpg" class="rounded-circle" alt="image">
</div>
</div>
<div class="users-list-body">
<div>
<h5>#Tech Support</h5>
<p>8 min ago</p>
</div>
</div>
</a>
</li>

</ul>
</div>
</div><div class="slimScrollBar" style="background: rgb(204, 204, 204); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 552.962px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
</div><div class="slimScrollBar" style="background: rgb(204, 204, 204); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 690px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>

</div>
<div class="chat status-middle-bar d-flex align-items-center justify-content-center" style="">
<div class="status-right">
<div><img src="avatar.jpg" alt=""></div>
<div>
<p>Click on a contact to view their status updates</p>
</div>
</div>
</div>



{%endblock%}
